.sapSlider {
    /* фиксированная ширина в 50% */
    width: 50%;
    /* выравниваем по середине */
    margin: 0 auto;
    /* выравниваем теперь внутренности div sapSlider по центру */
    text-align: center;
  }
  /* стилизуем картинку  */
  .sapSlider .mainImgClass {
    /* задаем размеры картинки по его классу mainImgClass */
    /* задать в % это + к адаптивности при изменении окна картинка будет всегда 50% от общего объема
      max-width: 50%;
      /* зададим максимальную высоту в 200пикселей */
    /* max-width: 200px; */
    /* задаем фиксированную ширину и картика растянится - некрасиво но удобно для разработки */
    width: 80%;
    /* задаем фиксированную высоту */
    height: 200px;
  }
  